.popup-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--body-color);
    padding: 20px;
    color: var(--title-color);
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none; /* Hidden by default */
    z-index: 9999;
  }
  
  .popup-message.visible {
    display: block; /* Show when visible */
  }
  